{% extends 'app/index.html' %}
{% block navigation %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Main</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'ask' %}">Ask</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hot' %}">Hot</a>
    </li>
{% endblock %}
{% block mainrowtitle %}
    Результат поиска по тегу {{ tagname }}
{% endblock %}
{% block firstquestion %}

{% endblock %}

{% block thirdquestion %}

{% endblock %}
{% block questionnavigation %}

{% endblock %}